@font-face {
font-family: naikaifont;
src: url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.89/webfont/NaikaiFont-Regular.woff2) format("woff2");
}

body {
    background-color: #FBF8F0;
    margin: 0;
}

.product_page {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    font-family: 'Noto Sans TC', sans-serif;
    background-color: #FBF8F0;
}

.info_wrap{
    display: flex;
    gap: 20px;
}

.thumbnail_list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}

.product_main {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-bottom: 60px;
}

.product_gallery {
    flex: 1;
    min-width: 300px;
}

.main_img {
    width: 100%;
}

.thumbnail_list {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.thumbnail {
    width: 80px;
    object-fit: cover;
    cursor: pointer;
}

.product_info {
    flex: 1;
    min-width: 300px;
}

.product_series{
    font-size: 1em;
}

.product_name{
    font-size: 1.5em;
    color: #5C4033;
}

.product_title {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.product_price {
    color: #FF729A;
    font-size: 24px;
    margin-bottom: 10px;
    font-weight: 600;
    margin-top: 10px;
}

.viewer{
    margin-top: 20px;
}

.warning {
    color: #d94141;
    font-weight: bold;
    margin-bottom: 8px;
    margin-top: 20px;
}

.stock_bar {
    width: 100%;
    height: 10px;
    background-color: #e0e0e0;
    border-radius: 59px;
    overflow: hidden;
    }

    .stock_fill {
    width: 30%;
    height: 100%;
    background-color: #FF729A; 
    border-radius: 50px 0 0 50px;
}

.product_details{
    font-size: 1.25em;
    line-height: 2;
    color: #5C4033;
    margin-top: 50px;
}

.product_options label,
.product_quantity label {
    display: block;
    margin-top: 10px;
    margin-bottom: 4px;
}

.cta{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    margin-top: 20px;
}

.quantity_selector {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 50px;
    width: 130px;
    border: 2px solid #ebebeb;
    margin-left: -45px;
}

.qty_btn {
    width: 40px;
    height: 40px;
    background-color: #FBBCA5;
    border: none;
    border-radius: 50%;
    font-size: 24px;
    color: #FFF;
    cursor: pointer;
    transition: background-color 0.2s ease;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.qty_btn:hover {
    background-color: #FF729A;
}

.quantity_selector input[type="number"] {
    width: 30px;
    height: 40px;
    text-align: center;
    font-size: 18px;
    border: none;
    padding: 0;
    background-color: #fff;
    font-weight: bold;
}

/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.cart_actions{
    gap: 10px;
}

.add_to_cart {
    margin-top: 20px;
    background-color: #FBBCA5;
    color: #fff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    border-radius: 999px;
    cursor: pointer;
    width: 350px;
}

.add_to_cart:hover {
    background-color: #FF729A;
}

.wishlist_btn{
    width: 40px;
    height: 40px;
    background-color: FFFFFF;
    border-radius: 50%;
    border: none;
    color: #fff;
}

.wishlist_btn:hover {
    background-color: #FF729A;
}
.product_description {
    margin-top: 80px;
    padding-top: 20px;
    line-height: 1.8;
    color: #5C4033;
}

.product_description .description{
    font-size: 1.5em;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-related{
    color: #5C4033;
    margin: 150px 0 100px 0;
}

.product-related .title{
    text-align: center;
    font-size: 1.5em;
    margin: 100px 0 50px 0;
}

.related_items {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin-top: 20px;
}

.related_items .product_card {
    width: 350px;
    text-align: center;
    font-size: 1.25em;
}

.product_card img {
    width: 100%;
    border-radius: 30px;
}

.product_card .rate{
    font-size: 1.5em;
    color: #FFD700;
}

.cart {
    background-color: #FBBCA5;
    color: #fff;
    border: none;
    padding: 0.5em 3.5em;
    border-radius: 50px;
    font-size: 1em;
    font-family: 'Noto Sans TC';
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: fit-content;
    margin-top: 10px;
}

.cart img {
    width: 27px;
    height: 27px;
}

.cart:hover {
    background-color: #FF729A; 
}