@font-face {
font-family: naikaifont;
src: url(https://cdn.jsdelivr.net/gh/max32002/naikaifont@1.89/webfont/NaikaiFont-Regular.woff2) format("woff2");
}

.shop_layout{
    background-color: #FBF8F0;
    display: flex;
    justify-content: center;
    padding: 100px 0;
    gap: 2em;
}

.product_container {
    max-width: 1200px;
    margin: 0 20px;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.sidebar{
    width: 220px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1em;
    margin-top: 130px 0 0 0;
    padding-top: 180px;
}

.sidebar a{
    border: none;
    background: none;
    text-decoration: none;
    padding: 0.5em 1em;
}

.sidebar a .text {
    width: 200px;
    height: 53px;
    background-image: url(../img/catpawlabelfornav.svg);
    background-size: 200px 53px;
    background-position: center;
    background-repeat: no-repeat;
    white-space: nowrap;
    font-family: naikaifont;
    font-size: 1.5rem;
    color: #5C4033;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    padding-right: 30px;
}

.title{
    font-family: naikaifont;
    font-size: 3.5em;
    color: #5C4033;
    font-weight: 600;
    text-align: center;
    margin-bottom: 50px;
}

.shop_header{
    display: flex;
    justify-content: space-between;
}

.breadcrumb{
    font-size: 1.5em;
    font-family: 'naikaifont';
    font-style: normal;
    font-weight: 400;
    gap: 1.5em;
}

.breadcrumb a {
    text-decoration: none;
    color: #9C9AA5;
    position: relative;
    }

.breadcrumb a:hover {
    color: #E9567E;
}

.breadcrumb .current {
    color: #E88FB4;
    font-weight: 600;
    cursor: default;
}
.breadcrumb .divider {
    color: #B0A89F;
    font-size: 1em;
}

.sort_label {
    font-family: 'naikaifont';
    font-size: 1.5em;
    color: #5C4033;
    margin-right: 0.5em;
}

.sort_select select{
    font-family: 'naikaifont';
    font-size: 1.5em;
    background-color: #fff;
    color: #5C4033;
    border-radius: 999px;
    padding: 0.2em 0.5em;
    border: 1px solid #ccc;
}

.sort_select select:focus {
    outline: none;
    border-color: #E88FB4;
    box-shadow: 0 0 0 2px rgba(232, 143, 180, 0.3);
}
.product_grid{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}

.product_card{
    width: 200px;
    text-align: left;
    font-family: 'naikaifont';
    font-style: normal;
    font-weight: 400;
    display: flex;
    flex-direction: column;
    gap: 0.25em;
    text-decoration: none;
    overflow: hidden;
    color: #5C4033;
    gap: 10px;
}

.product_card h3{
    text-align: left;
    font-family: 'naikaifont';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
    color: #5C4033;
}

.product_card .rate{
    font-size: 1.5rem;
    color: #FFD700;
}

.product_card .price{
    color: #E9567E;
    font-family: 'naikaifont';
    font-style: normal;
    font-weight: 500;
    font-size: 1.5rem;
}

.product_card img{
    width: 100%;
    border-radius: 30px;
    transition: box-shadow 0.3s ease, transform 0.3s ease;}

.product_card img:hover {
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    transform: scale(1.05);
}

.cart {
    background-color: #FFB3A7;
    color: #fff;
    border: none;
    padding: 0.5em 2.25em;
    border-radius: 50px;
    font-size: 1.5em;
    font-family: 'naikaifont';
    font-style: normal;
    font-weight: 400;
    white-space: nowrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.cart img {
    width: 27px;
    height: 27px;
}

.cart:hover {
    background-color: #FF729A; 
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 12px;
    margin: 2em auto;
}

.page_btn {
    background-color: #FFB3A7;
    color: #5C4033;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    cursor: pointer;
    font-size: 1em;
    transition: all 0.2s ease;
    position: relative;
    /* font-family: 'naikaifont'; */
}

.page_btn:hover {
    background-color: #FBBCA5;
    transform: scale(1.1);
}

.page_btn.active {
    background-color: #FF729A;
    color: white;
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .shop_layout{
        flex-direction: column;
        align-items: center;
        padding: 30px;
    }
    
    .sidebar{
        width: 100%;
        margin-top: 0;
        padding-top: 0;
        align-items: center;
    }

    .sidebar .category{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .sidebar a .text{
        width: 180px;
        font-size: 1.25rem;
        padding-right: 20px;
    } 

    .shop_header{
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .product_container{
        margin: 0;
        width: 100%;
    }

    .product_grid{
        grid-template-columns: repeat(3,1fr);
        gap: 1.5em;
    }

    .product_card{
        width: 100%;
    }

    .product_card img:hover {
        box-shadow: none;
        transform: none;
}
}

@media screen and (max-width: 576px) {
    .shop_layout{
        padding: 0 20px;
    }

    .title{
        font-size: 2.5rem;
        margin-bottom: 25px;
    }
    
    .product_grid{
        grid-template-columns: repeat(2,1fr);
        row-gap: 2.25em;
        column-gap: 1em;
    }

    .sidebar a .text{
        width: 170px;
        height: 45px;
        background-size: 170px 45px;
        font-size: 1.5rem;
    }

    .sort_select select{
        font-size: 1.5em;
    }

    .product_card{
        width: 100%;
    }

    .cart{
        min-height: 30px;
    }

    .cart img{
        width: 20px;
        height: 20px;
    }

    .pagination {
        gap: 8px;
    }

    .page_btn {
        width: 30px;
        height: 30px;
        cursor: pointer;
        font-size: 0.75em;
        transition: all 0.2s ease;
        position: relative;
    }

}